In [1]:
# script to create date for dimension staging

In [2]:
# Import required libraries
import sys
from lib.spark_session import get_spark_session
from lib.utils import date_data, get_string_cols, get_rundate
from lib.job_control import insert_log, get_max_timestamp
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import current_timestamp, expr, to_date, lit, split, to_timestamp, coalesce
from datetime import datetime
from delta import DeltaTable

In [3]:
# JOB Parameters
rundate = get_rundate()
schema_name = "edw_stg"
table_name = "dim_customer_stg"
table_full_name = f"{schema_name}.{table_name}"
landing_table_full_name = "edw_ld.dim_customer_ld"
print("SPARK_APP: JOB triggered for rundate - " + rundate)

SPARK_APP: JOB triggered for rundate - 20220101

In [4]:
# generate sparksession
spark: SparkSession = get_spark_session(f"Staging load - {table_full_name}")
print("SPARK_APP: Spark UI - " + spark.sparkContext.uiWebUrl)

SPARK_APP: Spark UI - http://16804892cba9:4040

In [5]:
# Spark Configs
spark.conf.set("spark.sql.shuffle.partitions", 8)
spark.conf.set("spark.sql.parquet.mergeSchema", True)

In [6]:
# Get the max_timestamp for data load in staging
max_timestamp = get_max_timestamp(spark, schema_name, table_name)
print("SPARK_APP: Max timestamp for staging data load - " + max_timestamp)

SPARK_APP: Max timestamp for staging data load - 1900-01-01 00:00:00.000000

In [7]:
# read data from landing based on max timestamp
df_ld = spark \
    .read \
    .table(landing_table_full_name) \
    .where(f"insert_dt > to_timestamp('{max_timestamp}')")

print("SPARK_APP: Landing Data Count - " + str(df_ld.count()))
print("SPARK_APP: Printing Landing Schema --")
df_ld.printSchema()

SPARK_APP: Landing Data Count - 18
SPARK_APP: Printing Landing Schema --
root
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- email: string (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- plan_type: string (nullable = true)
 |-- insert_dt: timestamp (nullable = true)
 |-- rundate: string (nullable = true)

In [8]:
# dedupe the data based on NK
df_dedupe = df_ld.withColumn("_rnk", expr(f"row_number() over(partition by customer_id order by insert_dt desc)")) \
    .where("_rnk = 1").drop("_rnk")
print("SPARK_APP: Landing Data Count after de-dupe - " + str(df_dedupe.count()))

SPARK_APP: Landing Data Count after de-dupe - 18

In [14]:
# format the landing data 
df_stg = df_dedupe \
    .withColumn("first_name", split("name", " ")[0]) \
    .withColumn("last_name", split("name", " ")[1]) \
    .withColumn("date_of_birth", to_date("date_of_birth", "dd-MM-yyyy")) \
    .withColumn("plan_type", coalesce("plan_type", lit("NA"))) \
    .withColumn("effective_start_dt", current_timestamp()) \
    .withColumn("effective_end_dt", to_timestamp(lit("9999-12-31 00:00:00.000000"))) \
    .withColumn("active_flg", lit(1)) \
    .withColumn("insert_flg", current_timestamp()) \
    .withColumn("update_dt", current_timestamp()) 

print("SPARK_APP: Staging Data Count - " + str(df_stg.count()))
print("SPARK_APP: Printing Staging Schema -- ")
df_stg.printSchema()

SPARK_APP: Staging Data Count - 18
SPARK_APP: Printing Staging Schema --
root
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- email: string (nullable = true)
 |-- date_of_birth: date (nullable = true)
 |-- plan_type: string (nullable = false)
 |-- insert_dt: timestamp (nullable = true)
 |-- rundate: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- effective_start_dt: timestamp (nullable = false)
 |-- effective_end_dt: timestamp (nullable = true)
 |-- active_flg: integer (nullable = false)
 |-- insert_flg: timestamp (nullable = false)
 |-- update_dt: timestamp (nullable = false)

In [15]:
# write the data to staging table in overwrite mode for truncate
df_stg.write \
    .format("delta") \
    .mode("overwrite") \
    .saveAsTable(table_full_name)

print("SPARK_APP: Data written to staging table")

SPARK_APP: Data written to staging table

In [16]:
# Add job details in JOB CONTROL
insert_log(spark, schema_name, table_name, datetime.now(), rundate)
print("SPARK_APP: Update JOB Control Log")

SPARK_APP: Update JOB Control Log

In [17]:
spark.sql(f"select * from edw.job_control where table_name = '{table_name}' order by insert_dt desc limit 1").show(truncate=False)

+-----------+----------------+--------------------------+--------+--------------------------+
|schema_name|table_name      |max_timestamp             |rundate |insert_dt                 |
+-----------+----------------+--------------------------+--------+--------------------------+
|edw_stg    |dim_customer_stg|2025-12-30 14:15:43.818207|20220101|2025-12-30 14:15:44.445807|
+-----------+----------------+--------------------------+--------+--------------------------+

In [18]:
# Get the logs from delta table version
dt = DeltaTable.forName(spark, table_full_name)
dt.history().limit(1).select("version","operationMetrics.executionTimeMs", 
                                 "operationMetrics.numTargetRowsInserted",
                                "operationMetrics.numTargetRowsUpdated",
                                "operationMetrics.numOutputRows").show(1, False)

+-------+---------------+---------------------+--------------------+-------------+
|version|executionTimeMs|numTargetRowsInserted|numTargetRowsUpdated|numOutputRows|
+-------+---------------+---------------------+--------------------+-------------+
|0      |null           |null                 |null                |18           |
+-------+---------------+---------------------+--------------------+-------------+

In [19]:
# Generate Symlink manifest for Athena Access
dt.generate("symlink_format_manifest")
print("SPARK_APP: Symlink Manifest file generated")

SPARK_APP: Symlink Manifest file generated

In [20]:
spark.sql("select * from edw_stg.dim_customer_stg").show()

+-----------+-----------------+--------------+-----------+-----+--------+--------------+--------------------+-------------+---------+--------------------+--------+----------+---------+--------------------+-------------------+----------+--------------------+--------------------+
|customer_id|             name|       address|       city|state|zip_code|  phone_number|               email|date_of_birth|plan_type|           insert_dt| rundate|first_name|last_name|  effective_start_dt|   effective_end_dt|active_flg|          insert_flg|           update_dt|
+-----------+-----------------+--------------+-----------+-----+--------+--------------+--------------------+-------------+---------+--------------------+--------+----------+---------+--------------------+-------------------+----------+--------------------+--------------------+
|       C001|     Ramesh Kumar|   123 Main St|    Anytown|   WB|   12345|91-00000-00000|    ramesh@email.com|   1980-01-01|        P|2025-12-30 12:41:...|20220101|    Ramesh|    Kumar|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C002|           Meena |    456 Elm St|Anothertown|   GJ|   67890|91-00000-00001|     meena@email.com|   1985-02-02|        G|2025-12-30 12:41:...|20220101|     Meena|         |2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C003|      Imitiaz Ali|   789 Oak Ave|    Bigcity|   JK|    9876|91-00000-00002|    imtiaz@email.com|   1990-03-03|       NA|2025-12-30 12:41:...|20220101|   Imitiaz|      Ali|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C004|Samantha Williams|321 Birch Blvd| Smallville|   MH|   55555|91-00000-00003|samanthawilliams@...|   1995-04-04|        G|2025-12-30 12:41:...|20220101|  Samantha| Williams|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C005|  Rekha Alluwalia|   654 Pine St|   Busytown|   KA|   11111|91-00000-00004|     rekha@email.com|   2000-05-05|        P|2025-12-30 12:41:...|20220101|     Rekha|Alluwalia|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C006|      Emily Brown|  987 Cedar Rd| Quietville|   RJ|   22222|91-00000-00005|emilybrown@email.com|   2005-06-06|        D|2025-12-30 12:41:...|20220101|     Emily|    Brown|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C007|      Pawan Singh|  246 Maple St|   Anywhere|   TN|   33333|91-00000-00006|     pawan@email.com|   1980-07-07|        D|2025-12-30 12:41:...|20220101|     Pawan|    Singh|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C008|  Nicholas Miller|    321 Oak St|    Bigcity|   OR|    9876|91-00000-00007|nicholasmiller@em...|   1985-08-08|       NA|2025-12-30 12:41:...|20220101|  Nicholas|   Miller|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C009|    Jessica Moore|    654 Elm St| Smallville|   OR|   55555|91-00000-00008|jessicamoore@emai...|   1990-09-09|       NA|2025-12-30 12:41:...|20220101|   Jessica|    Moore|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C010|   Matthew Taylor|   987 Pine St|   Busytown|   KA|   11111|91-00000-00009|matthewtaylor@ema...|   1995-10-10|       NA|2025-12-30 12:41:...|20220101|   Matthew|   Taylor|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C011|  Daniel Anderson|  246 Cedar Rd| Quietville|   WB|   22222|91-00000-00010|danielanderson@em...|   2000-11-11|        P|2025-12-30 12:41:...|20220101|    Daniel| Anderson|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C012|    Simran Thomas|  321 Maple St|   Anywhere|   JK|   33333|91-00000-00011|simranthomas@emai...|   2005-12-12|        G|2025-12-30 12:41:...|20220101|    Simran|   Thomas|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C013|     Renna Kumari|    654 Oak St|    Bigcity|   MH|    9876|91-00000-00012|     reena@email.com|   1980-01-01|        D|2025-12-30 12:41:...|20220101|     Renna|   Kumari|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C014|    Madison White|    987 Elm St| Smallville|   MH|   55555|91-00000-00013|madisonwhite@emai...|   1985-02-02|        G|2025-12-30 12:41:...|20220101|   Madison|    White|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C015|   Brandon Harris|   246 Pine St|   Busytown|   TN|   11111|91-00000-00014|brandonharris@ema...|   1990-03-03|        P|2025-12-30 12:41:...|20220101|   Brandon|   Harris|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C016|     Avery Martin|  321 Cedar Rd| Quietville|   KA|   22222|91-00000-00015|averymartin@email...|   1995-04-04|        D|2025-12-30 12:41:...|20220101|     Avery|   Martin|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C017|  Evelyn Thompson|  654 Maple St|   Anywhere|   OR|   33333|91-00000-00016|evelynthompson@em...|   2000-05-05|        P|2025-12-30 12:41:...|20220101|    Evelyn| Thompson|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
|       C018|   Abigail Garcia|    987 Oak St|    Bigcity|   TN|    9876|91-00000-00017|abigailgar@email.com|   2000-07-21|       NA|2025-12-30 12:41:...|20220101|   Abigail|   Garcia|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|2025-12-30 14:15:...|2025-12-30 14:15:...|
+-----------+-----------------+--------------+-----------+-----+--------+--------------+--------------------+-------------+---------+--------------------+--------+----------+---------+--------------------+-------------------+----------+--------------------+--------------------+

In [21]:
spark.stop()