In [1]:
# script to load dimension

In [2]:
# Import required libraries
import sys
from lib.spark_session import get_spark_session
from lib.utils import date_data, get_string_cols, get_rundate
from lib.job_control import insert_log, get_max_timestamp
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import current_timestamp, expr, to_date, date_format, udf, lit
from pyspark.sql.types import StringType
from datetime import datetime
from delta import DeltaTable
import uuid

In [3]:
# JOB Parameters
rundate = get_rundate()
schema_name = "edw"
table_name = "dim_customer"
table_full_name = f"{schema_name}.{table_name}"
staging_table_full_name = "edw_stg.dim_customer_stg"
print("SPARK_APP: JOB triggered for rundate - " + rundate)

SPARK_APP: JOB triggered for rundate - 20220101

In [4]:
# Generate Spark Session
spark: SparkSession = get_spark_session(f"Dimension load - {table_full_name}")
print("SPARK_APP: Spark UI - " + spark.sparkContext.uiWebUrl)

SPARK_APP: Spark UI - http://16804892cba9:4040

In [5]:
# Spark Configs
spark.conf.set("spark.sql.shuffle.partitions", 8)

In [6]:
# Read data from Staging
df_stg = spark \
    .read \
    .table(staging_table_full_name)

print("SPARK_APP: Staging Data Count - " + str(df_stg.count()))
print("SPARK_APP: Printing Staging Schema --")
df_stg.printSchema()

SPARK_APP: Staging Data Count - 18
SPARK_APP: Printing Staging Schema --
root
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- email: string (nullable = true)
 |-- date_of_birth: date (nullable = true)
 |-- plan_type: string (nullable = true)
 |-- insert_dt: timestamp (nullable = true)
 |-- rundate: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- effective_start_dt: timestamp (nullable = true)
 |-- effective_end_dt: timestamp (nullable = true)
 |-- active_flg: integer (nullable = true)
 |-- insert_flg: timestamp (nullable = true)
 |-- update_dt: timestamp (nullable = true)

In [7]:
# generated uuid for surrogate key
uuidUDF = udf(lambda : str(uuid.uuid4()),StringType())

In [8]:
# Generate SURROGATE KEYs
df_dim_temp = df_stg \
    .withColumn("row_wid", uuidUDF()) \
    .withColumn("hist_record_end_timestamp", expr("cast(effective_start_dt as TIMESTAMP) - INTERVAL 1 seconds")) \
    .withColumn("hist_record_active_flg", lit(0)) \
    .withColumn("hist_record_update_dt", current_timestamp()) 

print("SPARK_APP: Dim Temp Data Count - " + str(df_dim_temp.count()))
print("SPARK_APP: Printing Dim Temp Schema --")
df_dim_temp.printSchema()

SPARK_APP: Dim Temp Data Count - 18
SPARK_APP: Printing Dim Temp Schema --
root
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- email: string (nullable = true)
 |-- date_of_birth: date (nullable = true)
 |-- plan_type: string (nullable = true)
 |-- insert_dt: timestamp (nullable = true)
 |-- rundate: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- effective_start_dt: timestamp (nullable = true)
 |-- effective_end_dt: timestamp (nullable = true)
 |-- active_flg: integer (nullable = true)
 |-- insert_flg: timestamp (nullable = true)
 |-- update_dt: timestamp (nullable = true)
 |-- row_wid: string (nullable = true)
 |-- hist_record_end_timestamp: timestamp (nullable = true)
 |-- hist_record_active_flg: integer (nullable = false)
 |-- hist_record_update_dt: timestamp (nullable = false)

In [9]:
# Get the delta table for Upserts (SCD2)
dt_dim = DeltaTable.forName(spark, table_full_name)

# Validate if the load is full load
if get_max_timestamp(spark, schema_name, table_name) == "1900-01-01 00:00:00.000000":
    print("SPARK_APP: Table is set for full load") 
    # Truncate the Dimension table
    spark.conf.set("spark.databricks.delta.retentionDurationCheck.enabled", False)
    dt_dim.delete(f"1=1")
    dt_dim.vacuum(0)

# Create the UPSERT logic
dt_dim.alias("dim_customer") \
    .merge(df_dim_temp.alias("dim_temp"), "dim_customer.customer_id = dim_temp.customer_id and dim_customer.active_flg = 1") \
    .whenMatchedUpdate(set =
        {
           "effective_end_date" : "dim_temp.hist_record_end_timestamp",
            "active_flg" : "dim_temp.hist_record_active_flg",
            "update_dt" : "dim_temp.hist_record_update_dt"
        }  
    ) \
    .execute()
print("SPARK_APP: Updated History Records")

SPARK_APP: Table is set for full load
SPARK_APP: Updated History Records

In [10]:
# Get the logs from delta table version
dt_dim.history().limit(1).select("version","operationMetrics.executionTimeMs", 
                                 "operationMetrics.numTargetRowsInserted",
                                "operationMetrics.numTargetRowsUpdated",
                                "operationMetrics.numOutputRows").show(1, False)

+-------+---------------+---------------------+--------------------+-------------+
|version|executionTimeMs|numTargetRowsInserted|numTargetRowsUpdated|numOutputRows|
+-------+---------------+---------------------+--------------------+-------------+
|3      |6166           |0                    |0                   |0            |
+-------+---------------+---------------------+--------------------+-------------+

In [12]:
# Align DataFrame schema with the Delta table schema
df_dim_temp = df_dim_temp \
    .withColumnRenamed("effective_end_dt", "effective_end_date") \
    .drop("insert_flg")

# Insert all records in Delta Table in APPEND mode
df_dim_temp.drop("hist_record_end_timestamp", "hist_record_active_flg", "hist_record_update_dt", "name") \
    .write \
    .format("delta") \
    .mode("append") \
    .saveAsTable(table_full_name)

print("SPARK_APP: Active Records inserted into Dimension Table")

SPARK_APP: Active Records inserted into Dimension Table

In [13]:
# Get the logs from delta table version
dt_dim.history().limit(1).select("version","operationMetrics.executionTimeMs", 
                                 "operationMetrics.numTargetRowsInserted",
                                "operationMetrics.numTargetRowsUpdated",
                                "operationMetrics.numOutputRows").show(1, False)

+-------+---------------+---------------------+--------------------+-------------+
|version|executionTimeMs|numTargetRowsInserted|numTargetRowsUpdated|numOutputRows|
+-------+---------------+---------------------+--------------------+-------------+
|4      |null           |null                 |null                |18           |
+-------+---------------+---------------------+--------------------+-------------+

In [14]:
# Add job details in JOB CONTROL
insert_log(spark, schema_name, table_name, datetime.now(), rundate)
print("SPARK_APP: Update JOB Control Log")

SPARK_APP: Update JOB Control Log

In [15]:
spark.sql(f"select * from edw.job_control where table_name = '{table_name}' order by insert_dt desc limit 1").show(truncate=False)

+-----------+------------+--------------------------+--------+--------------------------+
|schema_name|table_name  |max_timestamp             |rundate |insert_dt                 |
+-----------+------------+--------------------------+--------+--------------------------+
|edw        |dim_customer|2026-01-01 18:39:58.098656|20220101|2026-01-01 18:39:58.620811|
+-----------+------------+--------------------------+--------+--------------------------+

In [16]:
# Generate Symlink manifest for Athena Access
dt = DeltaTable.forName(spark, table_full_name)
dt.generate("symlink_format_manifest")
print("SPARK_APP: Symlink Manifest file generated")

SPARK_APP: Symlink Manifest file generated

In [17]:
spark.sql("select * from edw.dim_customer").show()

+--------------------+-----------+----------+---------+--------------+-----------+-----+--------+--------------+--------------------+-------------+---------+--------------------+-------------------+----------+--------+--------------------+--------------------+
|             row_wid|customer_id|first_name|last_name|       address|       city|state|zip_code|  phone_number|               email|date_of_birth|plan_type|  effective_start_dt| effective_end_date|active_flg| rundate|           insert_dt|           update_dt|
+--------------------+-----------+----------+---------+--------------+-----------+-----+--------+--------------+--------------------+-------------+---------+--------------------+-------------------+----------+--------+--------------------+--------------------+
|2fd7ae73-b1d6-443...|       C001|    Ramesh|    Kumar|   123 Main St|    Anytown|   WB|   12345|91-00000-00000|    ramesh@email.com|   1980-01-01|        P|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|609ffc8a-08b6-40d...|       C002|     Meena|         |    456 Elm St|Anothertown|   GJ|   67890|91-00000-00001|     meena@email.com|   1985-02-02|        G|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|b171da24-d5a6-473...|       C003|   Imitiaz|      Ali|   789 Oak Ave|    Bigcity|   JK|    9876|91-00000-00002|    imtiaz@email.com|   1990-03-03|       NA|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|e3a97ea1-5d90-45a...|       C004|  Samantha| Williams|321 Birch Blvd| Smallville|   MH|   55555|91-00000-00003|samanthawilliams@...|   1995-04-04|        G|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|cb135bbf-193e-4bb...|       C005|     Rekha|Alluwalia|   654 Pine St|   Busytown|   KA|   11111|91-00000-00004|     rekha@email.com|   2000-05-05|        P|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|d577ebe7-a0de-4df...|       C006|     Emily|    Brown|  987 Cedar Rd| Quietville|   RJ|   22222|91-00000-00005|emilybrown@email.com|   2005-06-06|        D|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|a2ff430d-0815-401...|       C007|     Pawan|    Singh|  246 Maple St|   Anywhere|   TN|   33333|91-00000-00006|     pawan@email.com|   1980-07-07|        D|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|998246e1-f3e7-487...|       C008|  Nicholas|   Miller|    321 Oak St|    Bigcity|   OR|    9876|91-00000-00007|nicholasmiller@em...|   1985-08-08|       NA|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|16353282-7a69-496...|       C009|   Jessica|    Moore|    654 Elm St| Smallville|   OR|   55555|91-00000-00008|jessicamoore@emai...|   1990-09-09|       NA|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|83acff78-0bcb-4d2...|       C010|   Matthew|   Taylor|   987 Pine St|   Busytown|   KA|   11111|91-00000-00009|matthewtaylor@ema...|   1995-10-10|       NA|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|1da5754f-5f85-48e...|       C011|    Daniel| Anderson|  246 Cedar Rd| Quietville|   WB|   22222|91-00000-00010|danielanderson@em...|   2000-11-11|        P|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|7a79bbac-7fbc-408...|       C012|    Simran|   Thomas|  321 Maple St|   Anywhere|   JK|   33333|91-00000-00011|simranthomas@emai...|   2005-12-12|        G|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|4b8775df-c117-4d4...|       C013|     Renna|   Kumari|    654 Oak St|    Bigcity|   MH|    9876|91-00000-00012|     reena@email.com|   1980-01-01|        D|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|b95de970-a0fd-46b...|       C014|   Madison|    White|    987 Elm St| Smallville|   MH|   55555|91-00000-00013|madisonwhite@emai...|   1985-02-02|        G|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|2876ae98-7b1b-4af...|       C015|   Brandon|   Harris|   246 Pine St|   Busytown|   TN|   11111|91-00000-00014|brandonharris@ema...|   1990-03-03|        P|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|8451457a-a62f-46b...|       C016|     Avery|   Martin|  321 Cedar Rd| Quietville|   KA|   22222|91-00000-00015|averymartin@email...|   1995-04-04|        D|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|b5ee4efa-dd27-4db...|       C017|    Evelyn| Thompson|  654 Maple St|   Anywhere|   OR|   33333|91-00000-00016|evelynthompson@em...|   2000-05-05|        P|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
|527a6c24-92a9-4f6...|       C018|   Abigail|   Garcia|    987 Oak St|    Bigcity|   TN|    9876|91-00000-00017|abigailgar@email.com|   2000-07-21|       NA|2025-12-30 14:15:...|9999-12-31 00:00:00|         1|20220101|2025-12-30 12:41:...|2025-12-30 14:15:...|
+--------------------+-----------+----------+---------+--------------+-----------+-----+--------+--------------+--------------------+-------------+---------+--------------------+-------------------+----------+--------+--------------------+--------------------+

In [19]:
spark.stop()